spring:
  datasource:
    url: jdbc:mysql://localhost:3307/money_transfer?allowPublicKeyRetrieval=true&useSSL=false
    username: money_user
    password: money_pass
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        type:
          preferred_uuid_jdbc_type: CHAR
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

server:
  port: 8080

logging:
  level:
    root: INFO
    com.example.moneytransfer: DEBUG

